.create_post{
  text-align: center;
  font-family: "Montserrat", sans-serif;

}

.create_post h2{
  font-size:2.2em;
}

.create_post p {
  color: #AAA;
  margin-bottom: 2em;
}

.create_post input {
  font-family: "Montserrat", sans-serif;
}

.create_post textarea{
    font-family: "Montserrat", sans-serif;
}